/**
*   BASE STYLES
**/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a{
    text-decoration: none;
    color: #f2f2f2;
    text-align: center;
}

.container{
    position: relative;
}

.content{
    padding-top: 48px;
}

main {
    display: block;
}

section {
    display: block;
}
.inactive{
    display: none;
}