.featured-btn {
    background-color: #FC5185;
    height: 44px;
    border-radius: 25px;
    color: #f2f2f2;
    text-align: center;
    border:none;
    font-size: 20px;

    &:hover {
        color:  #364F6B;
    }
}

