.card-container {
    position: relative;
    border-radius: 1rem;
    background-color: #fff;
    margin: 0 36px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 48px;
    &:last-child{
        margin-bottom: 0px;
    }
    
}

.card-heading{
    color: $base-pink;
    font-size: 24px;
    text-align: center;
    margin: 0 48px;
    padding-top: 32px;
    padding-bottom: 16px;

    &:hover{
        color: $base-cyan;
    }
}

.card-description{
    color: $base-blue;
    font-size: 18px;
    margin: 0 48px;
    padding-bottom: 32px;
}

.cards{
    background-color: $backgroud-gray;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 48px;
    padding-bottom: 48px;
    display: block;
    
}

@media only screen and (min-width: 48em){
    .cards{
        padding-top: 96px;
        padding-bottom: 96px;
        .card-container {
            margin: 0 144px;
            margin-bottom: 48px;
            &:last-child{
                margin-bottom: 0px;
            }

            .card-heading{
                font-size: 32px;
                margin: 0 56px;
            }
            .card-description{
                font-size: 24px;
                margin: 0 56px;
            }
        }
    }
    
}

